* {
    font-family: Arial, sans-serif;
    transition: 300ms;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: small;
}

.submenu {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 16px;
    flex-direction: column;
}

.submenu-left {
    display: flex;
}

.submenu-left span {
    font-weight: bold;
}

.submenu-right {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.filter-form input[type="text"] {
    min-width: 120px;
    max-width: 240px;
    border: none;
}

.delete:hover {
    background-color: rgb(220 53 69);
    color: white;
}

@media (min-width: 768px) {
    .submenu {
        flex-direction: row;
    }
}
